body {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(25, 25, 25);
}

h1,
h2 {
  color: white;
  font-family: monospace;
}

button {
  background-color: rgb(52, 52, 52);
  color: greenyellow;
  border: 2px solid;
  font-family: monospace;
  padding: 6px 20px 6px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}
